    <hr>
    <div class="form-group">
        <label>Use Auto Icon</label>
        <div class="form-fields">
        <input type="checkbox" name="flags.autoIcon" data-dtype="Boolean" {{checked flags.autoIcon}}/>
        </div>
        <p class="notes">Overrides whatever icon is selected above.</p>
    </div>
    
    <div class="form-group">
        <label>Icon Shape</label>
        <div class="form-fields">
            <select name="flags.iconType" data-dtype="String">
                {{#select flags.iconType}}
                {{#each iconTypes as |v k|}}
                <option value="{{k}}">{{v}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label>Icon Text</label>
          <div class="form-fields">
            <input type="text" name="flags.iconText" value="{{flags.iconText}}"/>
          </div>
          <p class="notes">Recommend max of 3 characters</p>
     </div>
    
    <div class="form-group">
       <label>Foreground Color</label>
        <div class="form-fields">
            <input class="color" type="text" name="flags.foreColor" value="{{flags.foreColor}}" is="colorpicker-input" data-responsive-color/>
            <input type="color" value="{{flags.foreColor}}" data-edit="flags.foreColor"/>
        </div>
    </div>
    
    <div class="form-group">
       <label>Background Color</label>
        <div class="form-fields">
            <input class="color" type="text" name="flags.backColor" value="{{flags.backColor}}"/>
            <input type="color" value="{{flags.backColor}}" data-edit="flags.backColor"/>
        </div>
    </div>